<nav>
    <ul>
        <li>
            <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">דף הבית</a>  </li>
            <li>  <a routerLink="buyingGifts" routerLinkActive="active" ariaCurrentWhenActive="page">דף רכישת מתנות</a>  </li>
            <li> <a routerLink="donorManegment" routerLinkActive="active" ariaCurrentWhenActive="page">דף ניהול תרומות</a>  </li>
            <li> <a routerLink="paymentManegment" routerLinkActive="active" ariaCurrentWhenActive="page">דף תשלום </a>  </li>
            <li> <a routerLink="donatingGifts" routerLinkActive="active" ariaCurrentWhenActive="page">דף תרומת מתנות  </a>  </li>

      
    </ul>
</nav>
